.expense__day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  position: relative;
}

.chart-bar {
  width: 3rem;
  border-radius: 3px;
  margin: 0 0.1rem 1.1rem;
  cursor: pointer;
  background-color: var(--soft-red);
}

.chart-bar:hover {
  background-color: #ff9b86;
}

.day {
  font-size: 1.2rem;
  color: var(--medium-brown);
  margin: 0 2.4rem;
}

/* Media Quaries */
@media screen and (min-width: 700px) {
  .chart-bar {
    width: 5.3rem;
  }

  .day {
    font-size: 1.5rem;
    margin: 0 3.1rem;
  }
}
