.card {
  border-radius: 10px;
  background-color: var(--very-pale-orange);
  margin-top: 1.6rem;
}

.card__heading {
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--dark-brown);
  padding: 2.4rem 6rem 5.2rem 2rem;
}

.chart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}

.line {
  width: 30.3rem;
  height: 2px;
  background-color: #f8e9dd;
  margin: 2rem auto;
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 2.4rem;
}

.footer__right {
  text-align: right;
}

.footer__paragraph {
  font-size: 1.5rem;
  color: var(--medium-brown);
}

.total {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-brown);
}

.growth {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-brown);
}

/* Media Quaries */
@media screen and (min-width: 700px) {
  .card__heading {
    font-size: 3.2rem;
    padding: 2.4rem 6rem 1.8rem 2rem;
  }

  .line {
    width: 46rem;
  }

  .footer__paragraph {
    font-size: 1.8rem;
  }

  .total {
    font-size: 4.8rem;
  }

  .growth {
    font-size: 2.3rem;
  }
}
