@media screen and (min-width: 400px) {
  .App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.blue {
  background-color: var(--cyan);
}

.orange {
  background-color: var(--soft-red);
}
